{% extends 'base.html' %}

{% block title %}
  Add song
{% endblock %}
{% block content %}
  <form method="post" action="">{% csrf_token %}
    {% include 'includes/form.html' %}
    <button class="btn btn-primary">Add song</button>
  </form>
{% endblock %}