{% extends 'base.html' %}

{% block title %}
  {% if create %}
    Create fragment
  {% else %}
    Edit fragment {{ fragment.song.full_name }}
  {% endif %}
{% endblock %}

{% block content %}
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div id="edit-fragment"></div>
{% endblock %}

{% block scripts %}
  <script>
      {% if create %}
          var songId = null;
          var begin = -1;
          var end = -1;
      {% else %}
          var songId = "{{ fragment.song.id }}";
          var begin = {{ fragment.begin }};
          var end = {{ fragment.end }};
      {% endif %}
  </script>
{% endblock %}