{% extends "base.html" %}

{% block title %}
  {{ request.user|title }}'s favourite songs
{% endblock %}
{% block content %}
  <div>
    <a href="{% url 'add-song' %}" class="btn btn-primary">Add song</a>
  </div>
  {% for song in songs %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ song.full_name }}</h5>
        {% for genre in song.genres.all %}
          <span class="badge">{{ genre.name }}</span>
        {% endfor %}
        <form action="{% url 'remove-fav-song' song.id %}" method="post"
              style="display: inline-block;">
          {% csrf_token %}
          <a onclick="this.parentElement.submit();"><i
              class="fa fa-times-circle" title="Remove from favourite"
              style="color: tomato;"></i></a>
        </form>
      </div>
    </div>
  {% empty %}
    You have no favourite songs.
  {% endfor %}

{% endblock %}
