{% extends "base.html" %}

{% block title %}
  Delete fragment {{ object.song.full_name }}
{% endblock %}

{% block content %}
  <form method="post" action="">{% csrf_token %}
    <p>Are you sure you want to delete <i>{{ object.song.artist.name }}
      - {{ object.song.name }}</i>?</p>
    <a class="btn btn-primary" href="{% url 'fragments' %}">no</a>
    <input class="btn btn-danger" type="submit" value="yes">
  </form>
{% endblock %}