{% extends "base.html" %}

{% block title %}
  {{ request.user|title }}'s fragments
{% endblock %}
{% block content %}
  <div>
    <a href="{% url 'create-fragment' %}" class="btn btn-primary">Create fragment</a>
  </div>
  {% for fragment in fragments %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ fragment.song.full_name }}</h5>
        <a href="{% url 'edit-fragment' fragment.id %}" class="btn btn-primary">Edit fragment</a>
        <a href="{% url 'remove-fragment' fragment.id %}"><i
              class="fa fa-times-circle" title="Delete Fragment"
              style="color: tomato;"></i></a>
      </div>
    </div>
  {% empty %}
    You have no fragments.
  {% endfor %}

{% endblock %}
