<ul class="sidebar-nav">

{#  <li>#}
{#    <a href="{% url 'tic-tac-toe' %}">#}
{#      <i class="fas fa-times"></i>#}
{#      <i class="far fa-circle"></i>#}
{#    </a>#}
{#  </li>#}

  {% if request.user.is_authenticated %}

    <li>
      <a href="{% url 'profile' %}">
        <i class="fa fa-user"></i>
        <span>Profile</span>
      </a>
    </li>

    <li>
      <a href="{% url 'friends' %}">
        <i class="fa fa-users"></i>
        <span>Friends</span>
      </a>
    </li>

    <li>
      <a href="{% url 'friendship_requests' %}">
        {% if request.user.has_incoming_friendship_requests %}
          <i class="fa fa-exclamation-circle"></i>
        {% endif %}
        <span>Friendship requests</span>
      </a>
    </li>

{#    <li>#}
{#      <a href="{% url 'fav_songs' %}">#}
{#        <span>Favourite songs</span>#}
{#      </a>#}
{#    </li>#}

    <li>
      <a href="{% url 'fragments' %}">
        <i class="fas fa-cut"></i>
        <span>Fragments</span>
      </a>
    </li>

    <li>
      <a href="{% url 'list-rooms' %}">
        <span>Rooms</span>
      </a>
    </li>

  {% endif %}

  <li>
    <a href="{% url 'pins' %}">
      <i class="fa fa-thumbtack"></i>
      <span>Pins</span>
    </a>
  </li>

</ul>