<!DOCTYPE html>{% load static %}
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link href="{% static 'css/bootstrap-social.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  {% block head %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">

    <button class="navbar-toggler mr-sm-2" type="button"
            id="sidebar-toggle" title="Toggle Sidebar">
      <i class="fa fa-list-ul"></i>
    </button>

    <a class="navbar-brand" href="/">KNUF</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}

          <li class="nav-item active">
            <a class="nav-link"
               href="{% url 'profile' %}">{{ request.user }}</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>

        {% else %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>

        {% endif %}
      </ul>
    </div>

  </div>
</nav>

<section id="wrapper">

  <script>
      let c = localStorage.getItem('sidebar-visible');
      if (c !== null && c === "true") {
          let el = document.getElementById("wrapper");
          el.className += " toggled";
      }
  </script>

  <div id="sidebar-wrapper">
    {% include "_sidebar.html" %}
  </div>

  <section id="page-content-wrapper">
    <section class="container-fluid">
      <div class="row main-content">
        <div class="col-12">
          {% block content %}{% endblock %}
        </div>
      </div>
    </section>
    <footer class="bg-dark footer">
      <div class="container">
        <p class="m-0 text-center text-white">{% now 'Y' %} - Knuf</p>
      </div>
    </footer>
  </section>
</section>

<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'js/bootstrap-notify.js' %}"></script>


<script type="text/javascript">
    $(document).ready(function () {
        {% if messages %}
            {% for message in messages %}
                $.notify({
                    message: '{{ message }}',
                }, {
                    type: '{{ message.level_tag }}',
                    allow_dismiss: true,
                });
            {% endfor %}
        {% endif %}
    });
    requestSongUrl = '{% url 'request-song' %}';
    userFragmentsUrl = '{% url 'user-fragments' %}';
</script>

{% block scripts %}{% endblock %}

<script src="{% static 'js/bundle.js' %}"></script>
</body>
</html>

