{% extends 'base.html' %}

{% block title %}
  Knuf - Index page
{% endblock %}
{% block content %}
  <p>
    Данный проект представляет собой подобие игры "угадай мелодию".
  </p>
  <p>
    Для игры необходимо как минимум 2 человека. Оба игрока должны
    зарегистрироваться, затем один игрок должен создать комнату в разделе
    "rooms", а второй игрок найти созданную комнату в списке комнат в разделе
    "rooms" и подключиться к ней.
  </p>
  <p>
    Для начала игры необходимо добавить какую-нибудь песню в плейлист. Для
    этого необходимо нажать на иконку <i class="fas fa-external-link-alt"></i>,
    выбрать песню, скопировать url с адрессной строки, вставить в форму рядом с
    иконкой и нажать кнопку "add song". После данных действий начнется
    воспроизведение выбранной песни, другие игроки должны будут ее угадать.
    Есть возможность добавить в плейлист не всю песню, а только ее часть, для
    этого нужно создать фрагмент в разделе "fragments", а затем добавить его
    при помощи кнопки "add fragment".
  </p>
  <p>
    В случае, если игрок верно угадает песню, ход перейдет к нему - далее будут
    воспроизводится песни из его плейлиста (если у игрока плейлист окажется
    пуст, ход перейдет к случайному игроку). Если ни один игрок не сможет
    угадать песню, то у ведущего появится кнопка для перехода к следующей песне
    из его плейлиста.
  </p>
  <p>
    За верные угадывания игроки получают очки (points), также у игроков есть
    итоговый счет (score) - это полное количество заработанных игроком очков.
    После верного угадывания песня будет воспроизводится еще 15 секунд, в это
    время игроки могут потратить свои очки, чтобы увеличить время
    воспроизведения.
  </p>
{% endblock %}