{% extends 'base.html' %}{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/tic-tac-toe.css' %}">
{% endblock %}

{% block title %}
  Knuf - Tic Tac Toe
{% endblock %}

{% block content %}
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div id="tic-tac-toe-root"></div>
{% endblock %}