{% extends "base.html" %}

{% load gravatar %}

{% block title %}
  {{ request.user|title }}'s friends
{% endblock %}
{% block content %}
  {% for friend in friends %}
    <div>
      <img src="{{ friend|gravatar:20 }}" alt="{{ friend.username }}">
      <a href="{% url 'user' username=friend.username %}">{{ friend.username }}</a>
    </div>
  {% empty %}
    You have no friends. <i class="far fa-frown fa-2x"></i>
  {% endfor %}

  {% include 'includes/paginator.html' %}

{% endblock %}
