{% extends "base.html" %}

{% load gravatar %}

{% block title %}
  Friendship requests
{% endblock %}
{% block content %}
  {% if followers or ignored_followers %}
    <h2>Incoming friendship requests:</h2>
    <div>
      {% for user in followers %}
        <div>
          <img src="{{ user|gravatar:20 }}" alt="{{ user.username }}">
          <a href="{% url 'user' username=user.username %}">{{ user.username }}</a>
          <form action="{% url 'add_friend' user.id %}" method="post"
                style="display: inline-block;">
            {% csrf_token %}
            <a onclick="this.parentElement.submit();"><i
                class="fa fa-plus-circle" title="Add to friends"></i></a>
          </form>
          <form action="{% url 'ignore_friend' user.id %}" method="post"
                style="display: inline-block;">
            {% csrf_token %}
            <a onclick="this.parentElement.submit();"><i
                class="fa fa-minus-circle" title="Ignore friendship request"
                style="color: tomato;"></i></a>
          </form>
        </div>
      {% endfor %}
      {% if ignored_followers %}
        <button class="btn btn-primary" data-toggle="collapse"
                data-target="#ignored-followers">Ignored
          followers...
        </button>

        <div id="ignored-followers" class="collapse">
          {% for user in ignored_followers %}
            <div>
              <img src="{{ user|gravatar:20 }}" alt="{{ user.username }}">
              <a href="{% url 'user' username=user.username %}">{{ user.username }}</a>
              <form action="{% url 'add_friend' user.id %}" method="post"
                    style="display: inline-block;">
                {% csrf_token %}
                <a onclick="this.parentElement.submit();"><i
                    class="fa fa-plus-circle" title="Add to friends"></i></a>
              </form>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% else %}
    <p>There are no incoming friendship requests.</p>
  {% endif %}
  {% if following %}
    <h2>Outgoing friendship requests:</h2>
    <div>
      {% for user in following %}
        <div>
          <img src="{{ user|gravatar:20 }}" alt="{{ user.username }}">
          <a href="{% url 'user' username=user.username %}">{{ user.username }}</a>
          <form action="{% url 'remove_friend' user.id %}" method="post"
                style="display: inline-block;">
            {% csrf_token %}
            <a onclick="this.parentElement.submit();"><i
                class="fa fa-times-circle" title="Cancel friendship request"
                style="color: tomato;"></i></a>
          </form>
        </div>
      {% endfor %}
    </div>
  {% endif %}

{% endblock %}
