{% extends "base.html" %}
{% block title %}
  Passwordless log in
{% endblock %}
{% block content %}
  <form method="post"
        action="{% url "social:complete" backend="email" %}">{% csrf_token %}
    <div class="form-group">
      <label for="email">Email:</label>
      <input class="form-control" id="email" name="email" type="email"
             value=""/>
    </div>
    <button class="btn btn-primary">Log in</button>
  </form>
{% endblock %}
