{% extends "base.html" %}

{% block title %}
  Account delete confirmation
{% endblock %}

{% block content %}
  <form method="post" action="">{% csrf_token %}
    <p>Are you sure you want to delete your account?</p>
    <a class="btn btn-primary" href="{% url 'profile' %}">no</a>
    <input class="btn btn-danger" type="submit" value="yes">
  </form>
{% endblock %}