{% extends "base.html" %}

{% load gravatar %}
{% load social_auth %}

{% block title %}
  User profile: {{ user }}
{% endblock %}
{% block content %}
  <h2>{{ user }}</h2>
  <img src="{{ user|gravatar:200 }}" alt="{{ user.username }}">
  {% if request.user.is_authenticated %}
    {% if request.user == user %}
      <h4>Connect social accounts:</h4>
      <div class=>
        {% for backend in backends.not_associated %}
          {% connect backend %}
        {% endfor %}
      </div>
      <h4>Disconnect social accounts:</h4>
      <div>
        {% for backend in backends.associated %}
          {% disconnect backend.provider %}
        {% endfor %}
      </div>
      <br>
      <div>
        <a class="btn btn-primary" href="{% url 'edit_profile' %}">Edit
          profile</a>
        <a class="btn btn-danger" href="{% url 'delete_account' %}">Delete
          account</a>
      </div>
    {% else %}
      <div>
        {% if user in request.user.friends.all %}
          <p>{{ user }} is your friend.</p>
          <form action="{% url 'remove_friend' user.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">
              Remove from friends.
            </button>
          </form>
        {% elif user in request.user.following %}
          <p>You sent request for friendship to this user.</p>
          <form action="{% url 'remove_friend' user.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">
              Cancel
            </button>
          </form>
        {% else %}
          {% if user in request.user.followers %}
            <p>This user wants to add you to friends.</p>
          {% endif %}
          <form action="{% url 'add_friend' user.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">
              Add to friends
            </button>
          </form>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
{% endblock %}
