$chat-height: 20em

.message-list
  height: $chat-height
  overflow-y: auto
  border-radius: 4px 4px 0 0
  border: 1px solid #ddd
  border-bottom-style: none

.user-list
  height: $chat-height
  overflow-y: auto
  border-radius: 4px 4px 0 0
  border: 1px solid #ddd
  border-bottom-style: none

.add-message-block, .playlist
  padding: 0

.choice-enabled
  cursor: pointer

.audio-component > *
  vertical-align: middle

.mute-container
  min-width: 17px
