$footer-height: 60px
$sidebar-width: 250px

body
  overflow-x: hidden
  padding-top: 51px
  margin-bottom: $footer-height

html
  position: relative
  min-height: 100%

.footer
  position: absolute
  bottom: 0
  width: 100%
  height: $footer-height
  line-height: $footer-height
  background-color: #f5f5f5

.main-content
  padding: 15px

#sidebar-toggle
  display: block

#wrapper
  padding-left: 0
  transition: all 0.5s ease

#sidebar-wrapper
  z-index: 1000
  position: fixed
  left: $sidebar-width
  width: 0
  height: 100%
  margin-left: -$sidebar-width
  overflow-y: auto
  background: #000
  transition: all 0.5s ease

#page-content-wrapper
  width: 100%
  position: absolute
  padding-bottom: $footer-height

#wrapper.toggled
  padding-left: $sidebar-width

  #sidebar-wrapper
    width: $sidebar-width

  #page-content-wrapper
    position: absolute
    margin-right: -$sidebar-width

/* Sidebar Styles */

.sidebar-nav
  position: absolute
  top: 0
  width: $sidebar-width
  margin: 0
  padding: 0
  list-style: none

  li
    text-indent: 20px
    line-height: 40px

    a
      display: block
      text-decoration: none
      color: #999999

    a:hover
      text-decoration: none
      color: #fff
      background: rgba(255, 255, 255, 0.2)

    a:active, a:focus
      text-decoration: none

.sidebar-nav > .sidebar-brand
  height: 65px
  font-size: 18px
  line-height: 60px

  a
    color: #999999

  a:hover
    color: #fff
    background: none

@media (min-width: 768px)
  #wrapper
    padding-left: 0

  #sidebar-wrapper
    width: 0

  #wrapper.toggled
    padding-left: $sidebar-width

    #sidebar-wrapper
      width: $sidebar-width

    #page-content-wrapper
      position: relative
      margin-right: 0

$range-input-width: 6.5%
$range-margin-width: 1.5%

.range-input
  width: $range-input-width

.two-handle-range
  margin-left: $range-margin-width
  margin-right: $range-margin-width
  width: 100% - 2*($range-margin-width + $range-input-width)
  display: inline-block

.fragment-input
  display: inline-block
  width: 85%
  margin-left: $range-margin-width
  margin-right: $range-margin-width

.spinner
  animation: sk-rotateplane 1.2s infinite ease-in-out

@keyframes sk-rotateplane
  0%
    transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  50%
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  100%
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)