<form action="{% url "social:disconnect" backend=backend %}"
      method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-block btn-social">
    Unknown social
    network: {{ backend }}
  </button>
</form>
