<form action="{% url "social:disconnect" backend=backend %}"
      method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-block btn-social btn-github">
    <span class="fa fa-envelope"></span> Disconnect passwordless
  </button>
</form>
