<form action="{% url "social:disconnect" backend=backend %}"
      method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-block btn-social btn-microsoft">
    <span class="fab fa-telegram"></span> Disconnect Telegram
  </button>
</form>
