<form action="{% url "social:disconnect" backend=backend %}"
      method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-block btn-social btn-twitter">
    <span class="fab fa-twitter"></span> Disconnect Twitter
  </button>
</form>
