<form action="{% url "social:disconnect" backend=backend %}"
      method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-block btn-social btn-vk">
    <span class="fab fa-vk"></span> Disconnect VK
  </button>
</form>
