{% load widget_tweaks %}
{% load form_tags %}

{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
    {% endfor %}
  </div>
{% endif %}

{% for field in form %}
  <div class="{{ field|valid_class }}">
    {{ field.label_tag }}
    {% if field.help_text %}
      <i class="fa fa-question-circle" title="{{ field.help_text|safe }}"></i>
    {% endif %}
    {% render_field field class="form-control" %}
    {% for error in field.errors %}
      <div class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation"></i>
        <span class="sr-only">Error:</span>
        {{ error }}
      </div>
    {% endfor %}

  </div>
{% endfor %}