{% load i18n %}
{% if is_paginated %}
  <div class="pagination">
      <span class="page-links">
          {% if page_obj.has_previous %}
            <a href="{{ request.url }}?page=
{{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
          {% endif %}
        <span class="page-current">
              {% blocktrans with current=page_obj.number all=page_obj.paginator.num_pages %}
                Page {{ current }} out of {{ all }}.{% endblocktrans %}
          </span>
        {% if page_obj.has_next %}
          <a href="{{ request.url }}?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
        {% endif %}
      </span>
  </div>
{% endif %}