{% extends 'base.html' %}

{% load form_tags %}
{% block title %}
  Create room
{% endblock %}
{% block content %}

  <div>
    <form method="post" action="">{% csrf_token %}
      {% include 'includes/form.html' %}
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}