{% extends 'base.html' %}

{% load form_tags %}
{% block title %}
  Pins
{% endblock %}
{% block content %}
  <p>
    Here you can send me a message, inform me in case you've found a bug/error
    or write anything you want everyone to see.
  </p>
  <div>
    <form method="post" action="">{% csrf_token %}
      {% include 'includes/form.html' %}
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div>
    {% for pin in object_list %}
      <div class="card">
        <div class="card-header">
          <h4>{{ pin.name|default:"Anonymous" }}</h4>
          {{ pin.creation_date|titled_naturaltime }}</div>
        <div class="card-body">
          {{ pin.message }}
        </div>
      </div>
    {% empty %}
      There is no pins yet. Yours can be first one.
    {% endfor %}
  </div>
  {% include 'includes/paginator.html' %}
{% endblock %}