{% extends 'base.html' %}

{% block title %}
  Rooms
{% endblock %}
{% block content %}
  <div>
    <a href="{% url 'create-room' %}" class="btn btn-primary">Create room</a>
  </div>
  <div>
    {% for room in rooms %}
      <div class="card">
        <div class="card-header">
          <h4><a href="{% url 'join-room' room.id %}">{{ room.name }}</a></h4>
          {{ room.creator.username }}
          {% if room.private %}
            <span title="private room">
              <i class="fas fa-user-secret"></i>
            </span>
          {% endif %}
        </div>
{#        <div class="card-body">#}
{#          fade time: {{ room.fade_time }}#}
{#          {% for genre in room.genres %}#}
{#            <span class="label label-default">{{ genre.name }}</span>#}
{#          {% endfor %}#}
{#        </div>#}
      </div>
    {% empty %}
      There is no rooms yet.
    {% endfor %}
  </div>
{% endblock %}