{% extends 'base.html' %}

{% load static %}

{% block title %}
  Room {{ id }}
{% endblock %}

{% block head %}
  <link href="{% static 'css/room.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div id="room-root"></div>

{% endblock %}

{% block scripts %}
  <script>
      let wsProtocol = location.protocol === 'https:' ? 'wss://' : 'ws://';
      server = wsProtocol + location.host + '/ws/room/{{ id }}/';
      payMultiplier = "{{ pay_multiplier }}";
  </script>
{% endblock %}